@{
    ViewBag.Title = "title";
    Layout = "AdminLayout";
}

<h1>Ajax</h1>
<br>
<button type="button" id="btnGetList" class="btn btn-outline-primary">Authors List</button>
<button type="button" id="btnGetById" class="btn btn-outline-success">Author</button>
<button type="button" id="btnAddWriter" class="btn btn-outline-info">Add New Author</button>
<br><br>
<div id="writerlist">Authors</div>
<br>
<div id="writer">Author</div>
<br>
<div>
    <input class="form-control" type="text" id="writerId" placeholder="Enter the Author ID">
</div>
<br>

<div>
    <input type="text" class="form-control" id="authorId" placeholder="Author Id">
    <input type="text" class="form-control" id="authorName" placeholder="Author Full Name">
</div>

@section scripts
{
    <script>
        $("#btnGetList").click(function() {
          $.ajax({
          contentType:"application/json",
          dataType:"json",
          type:"GET",
          url:"/Admin/Writer/WriterList/",
          success:function (func){
              let jsonParse = jQuery.parseJSON(func);
              let tablehtml = "<table class='table table-bordered'> <tr><th> Author Id</th> <th> Author Name </th> </tr>";
              $.each(jsonParse,(index,value)=>{
                  tablehtml += `<tr><td>${value.Id}</td> <td>${value.FullName}</td></tr>`
              });
              tablehtml +="</table>";
              $("#writerlist").html(tablehtml);
          }
          });
        });
        
        $("#btnGetById").click(x => {
            let id = $("#writerId").val();
            $.ajax({
            contentType:"application/json",
            dataType:"json",
            type:"GET",
            url:"/Admin/Writer/GetWriterById/",
            data:{writerId:id},
            success:function (func){
                let writer = jQuery.parseJSON(func);
                let getValue=`<table class="table table-bordered"> <tr><th>Author Id</th> <th>Author Full Name</th 
                ></tr> <tr><td>${writer.Id}</td><td>${writer.FullName}</td></tr></table>`;
                $("#writer").html(getValue);
            }
            })
        })
        
        $("#btnAddWriter").click(function() {
          let writer = {
              Id: $("#authorId").val(),
              FullName: $("#authorName").val()
          };
          $.ajax({
          type : "POST",
          url : "/Admin/Writer/AddWriter/",
          data : writer,
          success : function(func) {
            let result = jQuery.parseJSON(func);
            alert("Author was added")
          }
          })
        })
    </script>
}